// COLORS
$white: #fff;
$black: black;
$darkGray: #353f3e;
$lightGray: #6a7776;
$orange: #ec8e05;

// FONTS
$georgiaFont: Georgia, "Times New Roman", Times, serif;
$fontsize20: 20px;
$fontBold: bold;

// padding
$padding4: 4px;

//margin
$margin4: 4px;

//width
$width100: 100%;
