.hourly-container {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  width: 100%;
  overflow-y: hidden;
  margin-top: 4px;
  margin-left: 4px;
  .items-container {
    min-width: 90px;
    text-align: center;
    margin-bottom: 16px;
    padding: 4px;
    .item {
      margin-right: 4px;
      padding: 2px;
    }
    .image-icono {
      width: 46px;
    }
  }
}
