@import "../../assets/scss/variables";
.hourly-container {
  margin-left: $margin4;
  padding: 2px;

  .title-container {
    margin-left: $margin4;
    margin-bottom: 12px;
    font-size: 18px;
    padding: 2px;
    .title-loading {
      width: $width100;
      position: sticky;
    }
  }
  .items-container {
    width: $width100;
    .container-hourly {
      display: flex;
      justify-content: space-between;
      width: $width100;
      overflow-x: scroll;
      overflow-y: hidden;
      .items-data-container {
        min-width: 90px;
        text-align: center;
        margin-bottom: 12px;
        .item-container {
          margin-right: $margin4;
          padding: 2px;
          .item {
            margin-right: 6px;
          }
          .image-icono {
            width: 46px;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 600px) {
    margin-left: 2px;
    padding: 0px;
    .items-container {
      .container-hourly {
        display: flex;
        flex-wrap: wrap;
        .items-data-container {
          width: $width100;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          border-bottom: 2px solid $orange;
        }
      }
    }
  }
}
