@import "../../assets/scss/index.scss";

.daily-container {
  margin-top: $margin4;
  .title-container {
    margin-left: $margin4;
    margin-bottom: 8px;
    font-size: 18px;
  }
  .container-items {
    width: $width100;
    .container-daily {
      display: flex;
      justify-content: space-between;
      width: $width100;
      .daily-table {
        min-width: 90px;
        text-align: center;
        margin-bottom: 12px;
        .item {
          margin-right: $margin4;
          .daily-td {
            margin-right: 6px;
            padding: 2px;
          }
          .image-icono {
            width: 46px;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 600px) {
    .container-items {
      .container-daily {
        display: flex;
        flex-wrap: wrap;
        .daily-table {
          width: $width100;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          border-bottom: 2px solid $orange;
          .item {
            width: $width100;
          }
        }
      }
    }
  }
}
