@import "../../assets/scss/index.scss";

.daily-container {
  margin-top: 4px;
  margin-left: 4px;
  .title-container {
    margin-left: 4px;
    margin-bottom: 8px;
    font-size: 18px;
  }
  .container-items {
    width: 100%;
    .container-daily {
      display: flex;
      justify-content: space-between;
      width: 100%;
      overflow-y: hidden;

      .daily-table {
        min-width: 90px;
        text-align: center;
        margin-bottom: 12px;
        .item {
          margin-right: 4px;
          .daily-td {
            margin-right: 6px;
            padding: 2px;
          }
          .image-icono {
            width: 46px;
          }
        }
      }
    }
  }
}
