@import "../../assets/scss/index.scss";
.currentWeather-container {
  display: flex;
  // justify-content: space-evenly;
  text-align: center;
  align-items: center;
  padding: 6px;
  margin-left: 6px;
  color: black;
  font-weight: bold;

  .items-container {
    .item {
      display: flex;
      flex-direction: column;
      padding: 4px;

      .item-name {
        font-size: 20px;
      }
    }
    .item-temp {
      font-size: 40px;
      margin-left: 30px;
    }
  }
  @media only screen and (max-width: 600px) {
    margin-left: 0px;
  }
}
