@import "../../assets/scss/index.scss";

.titlecity-container {
  color: black;
  font-weight: bold;
  font-size: 24px;
  margin-top: 20px;
  margin-left: 30px;
  padding: 4px;
  .item {
    display: grid;
  }
}
