.home-container {
  position: sticky;
  width: 100%;
  margin-top: 12px;
  color: black;
  margin-left: 2px;
  .item-container {
    .titles-container {
      display: flex;
      padding: 4px;
      .selected {
        color: #ec8e05;
        text-decoration: underline;
      }
      .item-label {
        width: 100%;
        margin-left: 8px;
        font-size: 20px;
        padding: 2px;
        font-weight: bold;
      }
    }
    .datos-container {
      .item {
        padding: 4px;
        font-size: 12px;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    margin-left: 0px;

    .item-container {
      .titles-container {
        .item-label {
        }
      }
    }
  }
}
