@import "../../assets/scss/variables";
.home-container {
  position: sticky;
  width: $width100;
  margin-top: 12px;
  color: $black;
  margin-left: 2px;
  .item-container {
    .titles-container {
      display: flex;
      padding: 4px;
      .selected {
        color: $orange;
        text-decoration: underline;
      }
      .item-label {
        width: $width100;
        margin-left: 8px;
        font-size: $fontsize20;
        padding: 2px;
        font-weight: $fontBold;
      }
    }
    .datos-container {
      .item {
        padding: $padding4;
        font-size: 12px;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    margin-left: 0px;
  }
}
