.app-container {
  margin-top: 8%;
  width: auto;
  display: inline-grid;
  justify-content: center;
  border: none;
  background-image: url("./assets/image/fondo2.webp");
  margin-left: 10%;
  border-radius: 10px;
  // border: 2px solid #fa6100;

  .components {
    width: 1000px;
  }
}
