@import "../../../../assets/scss/variables";
.skeleton-titlecity-container {
  margin-left: 0px;
  width: 990px;
  margin: 0px;
  height: auto;
  border: 1px solid #d6ddf9;

  .item {
    height: 50px;
    // background-color: #d6ddf9;
  }

  @media only screen and (max-width: 600px) {
    height: 70px;
    background-color: #b6b3e1;
    border-radius: 4px;
    width: $width100;
    padding: $padding4;
    .item {
      height: 32px;
    }
  }
}
