@import "../../assets/scss/variables";
@media only screen and (max-width: 600px) {
  .skeleton-container {
    width: $width100;
    border: none;
    background-color: #b6b3e1;
    display: flex;
    justify-content: space-evenly;

    .skeleton-container-items {
      margin-top: 8px;
      width: $width100;
      height: 35px;
      padding: $padding4;
      display: flex;
      justify-content: center;
      border-bottom: 2px solid $orange;

      .item {
        width: $width100;
        border-radius: 4px;
      }
    }
  }
}
